.todo-form__add-btn {
    color: var(--currentTextClr);
    padding: .5rem 1.5rem;
    background: var(--currentBgClr);

    border-radius: .6rem;

    border: 2px solid var(--currentBorderClr);

    cursor: pointer;
    transition: all .3s;

}

.todo-form__add-btn:hover {
    background: var(--currentAddBtnBgHov);
    border: 2px solid var(--currentBgClr);
}

.todo-form__add-btn:disabled {
    opacity: .5;
    pointer-events: none;
}

@media (max-width: 850px) {

    .todo-form__add-btn {
        width: 100%;
    }
    
}