.notation-box,
.subtodo-notation-box {
    position: relative;
    display: flex;

    flex-direction: column;
    gap: .8rem;
}

.notation-box_single::before {
    display: none;
}

.notation-box::before {
    content: '';

    position: absolute;
    top: 0;
    left: 25%;

    width: 87.5%;
    height: 98%;
    transform: translateX(-22%);

    border: 2px solid var(--currentBorderClr);

    border-top: 0;
    border-bottom: 0;
}