.header {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.header_alternate {
    flex-direction: column-reverse;

    gap: .8rem;
}

@media (max-width: 850px) {

    .header {
        flex-direction: column-reverse;
        gap: .5rem;
    }
    
}
