.search-box {
    display: block;
    width: 100%;
}

.search-box__input {
    border: 2px solid var(--currentBorderClr);
    border-radius: .7rem;
    background: transparent;

    outline: none;

    padding: .5rem 2rem .5rem .2rem;

    color: var(--currentTextClr);
    width: 100%;
}

.search-box__input::placeholder {
    color: var(--currentTextClr);
}

@media (max-width: 850px) {
    .search-box {
        width: 100%;
    }
}