.notation-element {
    position: relative;
}

.notation-element__button {
    position: absolute;

    border: 1px solid var(--currentBorderClr);
    background: var(--currentBgClr);
    padding: .3rem;

    border-radius: .5rem;

    top: 50%;
    right: -40px;

    color: var(--currentTextClr);

    transform: translate(-50%, -50%);
}