.todo-item-text-block__button {
    opacity: 0;

    width: 22.5px;
    height: 22.5px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: var(--currentBgClr);

    color: var(--currentTextClr);
    border: 1px solid var(--currentBorderClr);

    outline: none;

    transition: opacity .2s, background .2s;
}

.todo-item-text-block__button:hover {
    background: var(--currentBorderClr);
}

.todo-item-text-block:hover .todo-item-text-block__button {
    opacity: 1;
}