.todo-item-text-block__button {
    opacity: 0;

    width: 22.5px;
    height: 22.5px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: gray;

    color: white;
    border: 1px solid silver;

    outline: none;

    transition: opacity .2s, background .2s;
}

.todo-item-text-block__button:hover {
    background: silver;
}

.todo-item-text-block:hover .todo-item-text-block__button {
    opacity: 1;
}

.todo-item-text-block__button_up {
    position: absolute;

    top: -10px;
    left: 50%;

    transform: translateX(-50%);
}

.todo-item-text-block__button_down {
    position: absolute;

    bottom: -10px;
    left: 50%;
    
    transform: translateX(-50%);
}