.notification-box {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--currentTextClr);
    border-radius: 1rem;

    border: 2px solid var(--currentBorderClr);

    overflow: hidden;

    position: relative;
}