.todo-form-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding-top: 1rem;
    border-top: 2px solid var(--currentBorderClr);

    position: relative;
}

.todo-form-content_alter::before,
.todo-form-content_alter-non-notation::before {
    content: '';

    position: absolute;
    top: 0;
    left: 19%;

    height: 98.6%;

    border: 2px solid var(--currentBorderClr);

    border-top: 0;
    border-bottom: 0;
}

.todo-form-content_alter:first-child::before {
    width: 30.5%;
    transform: translateX(-50%);
}

.todo-form-content_alter-non-notation::before {
    width: 42.5%;
    transform: translateX(-22.5%);
}

.todo-form-content::after,
.todo-form-content_alter::after,
.todo-form-content_alter-non-notation::after
 {

    position: absolute;
    top: 0;
    left: 25%;

    width: 40%;
    height: 10rem;

    transform: translate(-50%, -100%);

    border: 2px solid var(--currentBorderClr);
    border-bottom: 0;
}

.todo-form-content_alter-non-notation:first-child::after {
    width: 87.5%;
    transform: translate(-22.5%, -100%);
}