.todo-form-item__button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 25px;

    top: 50%;
    right: -30px;

    background: none;
    color: var(--currentTextClr);

    outline: none;
    border: none;

    cursor: pointer;

    transition: color .2s, opacity .2s, transform .2s;
    opacity: 0;

    transform: translateY(-50%) scale(1);

    font-size: 1.5rem;
}

.todo-form-item__button_inactive-notation {
    right: -75%;
}

.todo-form-item__button_updated-single,
.todo-form-item__button_inactive-notation-through-the-active {
    right: -180%;
}

.todo-form-item__button_updated {
    right: -125%;
    opacity: 1;
}

.todo-form-input-box_last-element .todo-form-item__button_updated,
.todo-form-input-box_counted .todo-form-item__button_updated:last-child {
    right: -190%;
}


.todo-form-item__button_updated-single-counted {
    right: -245%;
}

.todo-form-item__button:hover {
    color: var(--currentBorderClr);
    transform: translateY(-50%) scale(1.05);
}

.todo-form-item__button_updated:hover {
    transform: translateY(-50%) scale(1.2);
}