.todo-form-item__button {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 25px;

    top: 50%;
    right: -30px;

    background: none;
    color: var(--currentTextClr);

    outline: none;
    border: none;

    cursor: pointer;

    transition: color .2s, opacity .2s, transform .2s;
    opacity: 0;

    transform: translateY(-50%) scale(1);

    font-size: 1.5rem;
}

.todo-form-item__button_updated {
    right: -125%;
    color: var(--currentTextClr)
}

.todo-form-item__button_updated-single {
    right: -115%;
    color: var(--currentTextClr)
}

.todo-form-item__button:hover {
    color: var(--currentBorderClr);
    transform: translateY(-50%) scale(1.05);
}

.todo-form-item__button_updated:hover {
    transform: translateY(-50%) scale(1.2);
}