.search-container {
    position: relative;
    margin-left: auto;

    align-self: flex-start;

    width: 282.5px;
}

@media (max-width: 850px) {
    
    .search-container {
        margin-left: 0;
        width: 100%;
    }

}