.todo-item__button {
    color: var(--currentTextClr);
    border: 1px solid var(--currentBorderClr);
    padding: .2rem 1.5rem;

    border-radius: 1rem;

    position: absolute;
    top: -17px;
    left: 30px;

    transform: translate(-50%, -50%);

    transition: background .2s, opacity .2s;

    opacity: 0;
}

.todo-item__button:hover {
    background: var(--currentBgClr);
}