.todo-item__text {
    color: var(--currentTextClr);
    align-self: center;
    padding: .5rem;
    border: 3px solid var(--currentBorderClr);
    border-radius: 1rem;
    max-width: 100%;

    cursor: pointer;

    word-break: break-all;

    transition: background .1s;

    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    align-self: flex-start;
}


.todo-item__text_notation,
.todo-item__text_notation-active {
    font-size: .6rem;
    padding: .1rem .5rem;
    max-height: 2rem;
    overflow: hidden;
    background: transparent;
    outline: none;
    margin: 0 .3rem;

    transition: border .2s;

    /* position: absolute;

    top: -13px;
    left: 35px;

    transform: translate(-50%, -50%); */
}

.todo-item__text_notation-active {
    border: 3px solid #3b3b7f;
}