.notification-box__button {
    position: absolute;
    top: 5px;
    right: 5px;

    border-radius: 50%;
    border: 1px solid silver;
    background: transparent;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 25px;
    height: 25px;
}