.todo-item__title {
    text-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--currentTextClr);
    cursor: pointer;

    transition: background .2s;
}