.todo-item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    width: 48%;

    padding: 6.5rem .6rem .5rem .6rem;

    border: 3px solid var(--currentBorderClr);
    border-radius: .6rem;

    position: relative;

    background: var(--currentBgMainClr);
}

.todo-item:nth-child(odd):not(:last-child)::before,
.todo-item:nth-child(odd):not(:last-child)::after {
    content: '';
    height: 3px;
    width: 50px;

    background: var(--currentBorderClr);

    position: absolute;
    right: 0;

    transform: translateX(100%);
}

.todo-item:nth-child(odd):not(:last-child)::before {
    top: 10px;
}

.todo-item:nth-child(odd):not(:last-child)::after {
    bottom: 10px;
}

.todo-item_current-last-child::before,
.todo-item_current-last-child::after {
    display: none;
}

.todo-item_completed {
    opacity: .8;
}

.todo-item:hover .todo-item__button {
    opacity: 1;
}

.todo-text {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 2rem;

    position: relative;
}

.finished-todos_item-box {
    flex-direction: column;
}


@media (max-width: 850px) {
    .todo-item {
        width: 100%;
    }
}