.todo-item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    min-height: 4rem;

    width: 48%;

    padding: 7rem .5rem .5rem 1.5rem;

    border: 3px solid silver;
    border-radius: .6rem;

    position: relative;
}

.todo-item_completed {
    opacity: .8;
}

.todo-text {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 2rem;

    position: relative;
}

.todo-item__text {
    color: white;
    align-self: center;
    padding: .5rem;
    border: 3px solid silver;
    border-radius: 1rem;
    max-width: 95%;

    cursor: pointer;

    transition: background .1s;

    display: flex;
    flex-wrap: wrap;
}

.todo-item__input {
    position: absolute;
    top: 6px;
    left: 6px;
}

.todo-item__text_number {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.todo-item__text_input {
    background: none;
    outline: none;
}

.todo-item__text:hover {
    background: gray;
}

.todo-item__del-btn,
.todo-item-child__del-btn,
.change-box {
    position: absolute;
    top: -28px;
}

.change-box {
    display: flex;
    align-items: center;
    gap: .5rem;
    left: 0;
}

.todo-item__edit-btn,
.todo-item__del-btn,
.todo-item__close-btn,
.todo-item-child__edit-btn,
.todo-item-child__del-btn,
.todo-item-child__close-btn {
    border: 1px solid silver;
    cursor: pointer;

    transition: background .2s, opacity .2s;
    opacity: 0;

    background: transparent;

    color: white;
}

.todo-item__edit-btn,
.todo-item__close-btn,
.todo-item-child__edit-btn,
.todo-item-child__close-btn {
    border-radius: .6rem;
    width: 56px;
    padding: .2rem;
}

.todo-item__del-btn,
.todo-item-child__del-btn {
    padding: .2rem 1.5rem;
    position: absolute;
    right: 0;
    border-radius: 1rem;
    font-weight: bold;
}

.todo-item__edit-btn:disabled,
.todo-item-child__edit-btn:disabled {
    color: silver;
    background: silver;
    cursor: default;
    pointer-events: none;
}

.todo-item:hover .todo-item__del-btn,
.todo-item:hover .todo-item__edit-btn,
.todo-item:hover .todo-item__close-btn,
.todo-item-text-block:hover .todo-item-child__del-btn,
.todo-item-text-block:hover .todo-item-child__edit-btn,
.todo-item-text-block:hover .todo-item-child__close-btn {
    opacity: 1;
}

.todo-item__del-btn:hover,
.todo-item__edit-btn:hover,
.todo-item__close-btn:hover,
.todo-item-child__edit-btn:hover,
.todo-item-child__del-btn:hover,
.todo-item-child__close-btn:hover {
    background: gray;
}

.finished-todos_item-box {
    flex-direction: column;
}