.todo-item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    min-height: 4rem;

    width: 48%;

    padding: 6.5rem .5rem .5rem 1.5rem;

    border: 3px solid silver;
    border-radius: .6rem;

    position: relative;

    background: #716b6b;
}

.todo-item:nth-child(odd):not(:last-child)::before,
.todo-item:nth-child(odd):not(:last-child)::after {
    content: '';
    height: 3px;
    width: 50px;

    background: silver;

    position: absolute;
    right: 0;

    transform: translateX(100%);
}

.todo-item:nth-child(odd):not(:last-child)::before {
    top: 10px;
}

.todo-item:nth-child(odd):not(:last-child)::after {
    bottom: 10px;
}

.todo-item_current-last-child::before,
.todo-item_current-last-child::after {
    display: none;
}

.todo-item_completed {
    opacity: .8;
}

.todo-text {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 2rem;

    position: relative;
}

.todo-item__text {
    color: white;
    align-self: center;
    padding: .5rem;
    border: 3px solid silver;
    border-radius: 1rem;
    max-width: 89%;

    cursor: pointer;

    transition: background .1s;

    display: flex;
    flex-wrap: wrap;
}

.todo-item__text_number {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0;

    justify-content: center;
    align-items: center;
}

.todo-item__text_input {
    background: none;
    outline: none;
}

.todo-item__text:hover {
    background: gray;
}

.todo-item-child__del-btn {
    position: absolute;
    top: -28px;
}

.todo-item__edit-btn,
.todo-item__close-btn,
.todo-item-child__del-btn,
.todo-item-child__close-btn {
    border: 1px solid silver;
    cursor: pointer;

    transition: background .2s, opacity .2s;
    opacity: 0;

    background: transparent;

    color: white;
}

.todo-item__edit-btn,
.todo-item__close-btn,
.todo-item-child__close-btn {
    border-radius: .6rem;
    width: 56px;
    padding: .2rem;
}

.todo-item-child__del-btn {
    padding: .2rem 1.5rem;
    position: absolute;
    right: 0;
    border-radius: 1rem;
    font-weight: bold;
}

.todo-item__edit-btn:disabled {
    color: silver;
    background: silver;
    cursor: default;
    pointer-events: none;
}

.todo-item:hover .todo-item__edit-btn,
.todo-item:hover .todo-item__close-btn,
.todo-item-text-block:hover .todo-item-child__del-btn,
.todo-item-text-block:hover .todo-item-child__close-btn {
    opacity: 1;
}

.todo-item__edit-btn:hover,
.todo-item__close-btn:hover,
.todo-item-child__del-btn:hover,
.todo-item-child__close-btn:hover {
    background: gray;
}

.finished-todos_item-box {
    flex-direction: column;
}


@media (max-width: 850px) {
    .todo-item {
        width: 100%;
    }
}