.deleted-todos {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--currentBorderClr);
    border-radius: .6rem;

    color: var(--currentTextClr);

    align-self: flex-start;

    margin-left: 1rem;
}