.deleted-todos {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid silver;
    border-radius: .6rem;

    color: white;

    align-self: flex-start;

    margin-left: 1rem;
}