.App {
    max-width: 1200px;
    margin: 0 auto;

    padding: 1rem;

    border: 2px solid silver;
    border-radius: 1rem;
    background: #716b6b;

    display: flex;
    flex-direction: column;

    position: relative;

    gap: 1rem;
}

@media (max-width: 850px) {
    body {
        padding: 0;
    }

    .App {
        min-height: 100lvh;
    }

    .search-box__input {
        width: 100%;
    }
}