.todo-form-item {
    display: flex;
    gap: .5rem;

    position: relative;
}

.notation-box {
    position: relative;
    display: flex;

    flex-direction: column;
    gap: .5rem;
}

.todo-form-item:hover .todo-form-item__button {
    opacity: 1;
}