.todo-item-text-block__button_down,
.todo-item-text-block__button_up {
    position: absolute;
    z-index: 100;
    transform: translateX(-50%);
}

.todo-item-text-block__button_up {
    top: -10px;
    left: 50%;
}

.todo-item-text-block__button_down {
    bottom: -10px;
    left: 50%;
}