.deleted-todo__title {
    position: relative;

    border: 1px solid var(--currentBorderClr);

    text-align: center;

    border-radius: 1rem;
}

.deleted-todo__title::before {
    content: '';

    position: absolute;
    top: 50%;
    left: -17px;

    width: 17px;
    height: 2px;

    transform: translateY(-50%);

    background: var(--currentBorderClr);
}