.modal__close-btn {
    position: absolute;

    top: 0;
    right: 0;

    border: 1px solid silver;

    color: white;

    border-radius: 0 1rem 0 0;

    padding: .1rem 1rem;

    transition: background .2s;
}

.modal__close-btn:hover {
    background: gray;
}