.title-box {
    position: absolute;
    top: 0;
    left: 50%;

    max-width: 65%;

    transform: translate(-50%, -50%);
    background: gray;

    padding: .5rem;
    border: 2px solid silver;
    border-radius: .7rem;

    z-index: 500;
}

.title-box_searched {
    background: #393838;
}

.title-box::before {
    content: '';

    position: absolute;

    width: 2px;
    height: 47.5%;

    top: 0;
    left: 50%;

    transform: translate(-50%, -100%);

    background: silver;
}

.title-box::after {
    content: '';

    position: absolute;

    width: 2px;
    height: 134.5%;

    bottom: 0;
    left: 50%;

    transform: translate(-50%, 102%);

    background: silver;
}

.selection-box {
    position: absolute;
    top: 50%;
    left: -1.5px;
    z-index: 50;
    background: gray;

    transform: translate(-100%, -50%);

    display: flex;
    align-items: center;
    gap: .3rem;

    padding: .3rem;
    border: 2px solid silver;
    border-right: 0;
    border-radius: .3rem;
}

.selection-box__button {
    background: transparent;
    border: 1px solid silver;
    color: white;

    width: 35px;
    cursor: pointer;

    transition: background .2s;
}

.selection-box__button:hover {
    background: #5f5d5d;
}