.deleted-todo-list__element {
    border: 1px solid var(--currentBorderClr);
    border-radius: .6rem;

    padding: .5rem 1.5rem;

    position: relative;
    display: flex;

    transition: opacity .2s;

    word-break: break-all;

    min-width: 200px;
}

.deleted-todo-options_children {
    left: 0;

    transform: translateX(0);
}

.deleted-todo:hover .deleted-todo-options_children {
    opacity: 0;
}

.deleted-todo-list__element:hover .deleted-todo-options_children {
    opacity: 1;
}

.deleted-todo-list__element::before {
    content: '';

    width: 34px;
    height: 2px;

    position: absolute;
    top: 50%;
    left: -35px;

    transform: translateY(-50%);
    background: var(--currentBorderClr);
}