.todo-item-text-block {
    display: flex;
    
    position: relative;

    padding: .9rem .5rem .9rem 2.8rem;
    border: 1px solid silver;
    border-radius: .7rem;

    gap: 1rem;
}

.todo-item-text-block::before,
.todo-item-text-block::after {
    content: '';

    width: 2px;
    height: 2.1rem;

    transform: translateY(-100%);

    position: absolute;
    top: 0;

    background: silver;
}

.todo-item-text-block::before {
    left: 60px;
}

.todo-item-text-block::after {
    right: 65px;
}