.todo-item-text-block {
    display: flex;
    
    position: relative;

    padding: .9rem .5rem .9rem 2.8rem;
    border: 1px solid var(--currentBorderClr);
    border-radius: .7rem;

    gap: 1rem;
}

.todo-item-text-block_with-notation {
    padding: .2rem .5rem .9rem 2.8rem;
}

.todo-item-text-block_with-notation .todo-item__text_number {
    align-self: flex-end;
}

.todo-item-text-block::before,
.todo-item-text-block::after {
    content: '';

    width: 2px;
    height: 2.1rem;

    transform: translateY(-100%);

    position: absolute;
    top: 0;

    background: var(--currentBorderClr);
}

.todo-item-text-block::before {
    left: 60px;
}

.todo-item-text-block::after {
    right: 65px;
}

.text-box-container {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: .3rem;

    width: 90%;
}

.notations {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    gap: .3rem;
}

.todo-item-text-block_searched {
    background: var(--currentSearchedBgClr);
}