.finished-todos {
    padding: 2rem 0 0 0;
    margin: 1rem 0 0 0;
    width: 100%;

    border-top: 3px solid var(--currentBorderClr);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 2rem;
}