* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --currentBgBodyClr: #1f1c1c;
  --currentBorderClr: silver;
  --currentTextClr: white;

  --currentAddBtnBgHov: #2b2727;

  --currentSearchedBgClr: #393838;

  --selectionBoxBgHov: #5f5d5d;

  --currentBgClr: gray;
  --currentBgMainClr: #716b6b;

  --currentDeletedScrlBarClrThumb: #585656;

  --currentProgressTxtClr: #213145;
}

body {
  font-family: sans-serif;

  background: var(--currentBgBodyClr);
}

button {
  outline: none;
  background: none;
  border: none;

  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 7px;
  background: var(--currentBorderClr);
}

::-webkit-scrollbar-thumb {
  background: var(--currentBgClr);
}