.notification-box__value {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: .5rem;

    max-width: 100%;
    word-break:normal;
}

.notification-box__value:nth-child(2) {
    border: 1px solid var(--currentBorderClr);
    padding: .5rem;

    border-radius: .6rem;
}