.todo-form__input {
    border-radius: .6rem;

    padding: .5rem;

    border: 2px solid var(--currentBorderClr);
    outline: none;
    color: var(--currentTextClr);
    background: var(--currentBgClr);

    width: 275px;

    cursor: default;

    transition: border .2s;
}

.todo-form__input_notation-empty,
.todo-form__input_empty {
    border: 2px solid #213145; /* #3e3939 */
}

.todo-form-input-box {
    position: relative;
    display: block;

    margin-top: auto;
}

.todo-form-input-box__button {
    width: 15px;
    height: 15px;

    border-radius: 50%;

    font-size: .6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--currentBorderClr);
    color: var(--currentTextClr);
    background: var(--currentBgClr);

    position: absolute;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: opacity .2s, background .2s;
    z-index: 100;

    opacity: 0;
}

.todo-form-input-box__button:hover {
    background: var(--currentBorderClr);
}

.todo-form-input-box__button:disabled {
    cursor: default;
}

.todo-form-input-box:hover .todo-form-input-box__button {
    opacity: 1;
}

.todo-form-input-box__button_up {
    top: 0;
}

.todo-form-input-box__button_down {
    top: 100%;
}

.todo-form-input-box__button_create {
    top: 50%;
    left: 0;
}

.todo-form-input-box__button_count,
.todo-form-input-box__button_non-counted
{
    top: 0;
    left: 10%;
}

.todo-form-input-box__button_remove {
    top: 50%;
    left: 101.3%;
    opacity: 1;
}


.todo-form__input::placeholder {
    color: var(--currentTextClr);
}

@media (max-width: 850px) {
    .todo-form__input {
        width: 100%;
    }
}