.todo-form__input {
    border-radius: .6rem;

    padding: .5rem;

    border: 2px solid silver;
    outline: none;
    color: white;
    background: gray;

    width: 275px;

    cursor: default;
}

.todo-form__input_title {
    width: 260px;
}

.todo-form__input::placeholder {
    color: white;
}

@media (max-width: 850px) {
    .todo-form__input {
        width: 100%;
    }
}