.todo-form-content .todo-form__add-btn {
    width: 82.5px;
    text-align: center;
    height: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    bottom: -10px;
    left: 31.5%;

    transform: translateX(-50%);

    opacity: 0;

    transition: opacity .2s;
}

.todo-form-content .todo-form__add-btn_alternate {
    left: 19%;
}

.todo-form-content .todo-form__add-btn_alter {
    left: 50%;
}

.todo-form-content:hover .todo-form__add-btn {
    opacity: 1;
}