.add-subtodo {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding: .3rem;
    position: absolute;
    gap: .5rem;

    top: 25px;
    right: 2.5px;

    width: 100%;

    border-radius: .7rem;
}

.add-subtodo::after {
    content: '';
    
    width: 101%;
    height: 2px;

    position: absolute;
    bottom: -5px;
    left: 0;

    background: var(--currentBorderClr);
}

.add-subtodo__input {
    border: 1px solid var(--currentBorderClr);
    background: transparent;
    outline: none;

    color: var(--currentTextClr);
    border-radius: 1rem;
    padding: .5rem;

    cursor: default;
}

.add-subtodo__input::placeholder {
    color: var(--currentTextClr);
}

.add-subtodo__button {
    border: 1px solid var(--currentBorderClr);
    border-radius: .8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    padding: .5rem 1rem;
    cursor: pointer;

    width: 65px;

    color: var(--currentTextClr);

    transition: background .2s, color .2s, border .2s;
}

.add-subtodo__button:hover {
    background: var(--currentAddBtnBgHov);
}

.add-subtodo__button:disabled {
    opacity: .5;
    pointer-events: none;
}

.creation-box-input__creation-inp::placeholder {
    color: var(--currentTextClr);
}

.creation-box-input__creation-inp:hover {
    background: var(--currentBgClr);
}

.count-container {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;

    color: var(--currentTextClr);
}

.count-box ul {
    padding-left: 1rem;
}

.count-box-header {
    border: 1px solid var(--currentBorderClr);
}

.count-box li {
    border: 1px solid var(--currentBorderClr);
}

.count-box li {
    margin-top: -1px;
}

.count-box-header,
.list-box {
    display: flex;

    align-items: center;

    gap: 1rem;
    padding: .3rem;
}

.count {
    margin-left: auto;
}

.list-box {
    justify-content: space-between;
}

.count-total-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 1rem;
}